<div class="container">
    <employees-card *ngFor="let employee of paginator.items" [employee]="employee"></employees-card>
</div>
<div class="paginator">
    <div class="line"></div>
    <div class="controls">
        <div class="left">
            <span [class.hidden]="!paginator.leftAvailable" (click)="navigateLeft()">&#60;-</span>
        </div>
        <div class="numbers">
            <span *ngFor="let page of paginator.pages" 
                [class.actualPage]="page === paginator.actualPage"
                (click)="loadPage(page)">
                {{page}}
            </span>
        </div>
        <div class="right">
            <span [class.hidden]="!paginator.rightAvailable" (click)="navigateRight()">-&#62;</span>
        </div>
    </div>
</div>